<div class="backButton" (click)="onBackClick()">< Back</div>
<div class="signIn">
  <h1>Enter Your Username and Password to Check Out</h1>
  <form name="message" [formGroup]="form">
    <div>
      <label class="textBoxLabel" for="username">Username</label>
      <input
        class="textBox"
        id="username"
        type="text"
        value=""
        formControlName="username"
        name="username"
      />
    </div>

    <br style="clear: both" />

    <label class="textBoxLabel" for="password">Password</label>
    <input
      class="textBox"
      id="password"
      type="password"
      value=""
      formControlName="password"
      name="password"
    />
  </form>

  <!-- will need (click) functions to authenticate user, change log in status on user list component to signed out, and open exercise log modal-->
  <button mat-raised-button class="button" (click)="beginCheckoutProcess()" [disabled]="form.invalid">
    Log Exercise and/or Log Out
  </button>

</div>
