.page-cover {
  background: #0c7e25;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}

.title {
  font-size: 3.5rem;
  color: white;
}

.tap{
  margin-top: 3rem;
}

.enter {
  font-size: 1.2rem;
  color: white;
}

.adminButton {
  margin-top: 10rem;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.helpButton {
  text-align: center;
  text-decoration: underline;
  position:absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
