.page-cover {
  background: #9ed5ab;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 3.5rem;
}

.enter {
  font-size: 1.2rem;
}

.adminButton {
  margin-top: 30rem;
  font-size: 40px;
  cursor: pointer;
}
