.backButton {
  font-size: 2rem;
  color: #0c7e25;
  cursor: pointer;
  margin-top: 1rem;
}

.textBoxLabel {
  font-size: 2rem;
  margin-right: 26rem;
  margin-bottom: 0%;
}

.textBoxFirst,
.textBoxLast {
  width: 17.5rem;
  height: 4rem;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 5px;
}

.textBox {
  width: 35rem;
  height: 4rem;
  border-radius: 1rem;
  margin: auto;
}

::placeholder {
  color: lightgray;
  font-size: 2rem;
}

#username,
#password {
  font-size: 2rem;
}

.signUp {
  text-align: center;
  margin-top: 2rem;
}

.liabilityButton {
  font-size: 2rem;
  cursor: pointer;
}

.button {
  background-color: #0c7e25;
  color: white;
  border-radius: 1rem;
  width: 35rem;
  height: 4rem;
  font-size: 25px;
  margin-top: 1rem;
}

.button:disabled {
  background-color: grey;
}

#firstName,
#lastName,
#company,
#email,
#emailagain,
#username,
#password {
  font-size: 2rem;
}

.helpButton {
  margin-top: 8rem;
  text-align: center;
  text-decoration: underline;
}

.liability-waiver-link {
  text-decoration: underline;
  cursor: pointer;
}

.backButton {
  font-size: 2rem;
  color: #0c7e25;
  cursor: pointer;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

.openModal,
.acceptFormAndClose {
  background-color: #0c7e25;
  color: white;
  border-radius: 1rem;
  width: 35rem;
  height: 4rem;
  font-size: 35px;
  margin-top: 2rem;
}

.openModal {
  margin-top: 12rem;
}

.acceptFormAndClose {
  margin-left: 10rem;
}

.liabilityText {
  font-size: 20px;
  margin-top: 1rem;
}

.helpButton {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}
