.user-list {
  overflow: auto;
  overflow-x: hidden;
  padding-top: 50px;
  border-right: 1px solid black;
  margin: 50px 0 0 0;
  height: calc(100vh - 50px);
}

.app-content {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}

.detail {
  top: 140px;
  bottom: 0;
  transform: none;
  visibility: visible;
}
