.button {
  margin-left: 20rem;
  font-size: 20px;
  font-size: 20px;
  background-color: #0c7e25;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

.cancelButton {
  margin-left: 21rem;
  font-size: 20px;
  font-size: 20px;
  background-color: #0c7e25;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

h1 {
  text-align: center;
}

.deleteButton {
  margin-left: 20rem;
  font-size: 20px;
  font-size: 20px;
  background-color: red;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}
