.button {
  font-size: 20px;
  font-size: 20px;
  background-color: #0c7e25;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

.cancelButton {
  font-size: 20px;
  font-size: 20px;
  background-color: #0c7e25;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

h1 {
  text-align: center;
}

.deleteButton {
  font-size: 20px;
  font-size: 20px;
  background-color: red;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

.highlight {
  font-weight: bold;
  background: #d5d5d5;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
