<p>Hello {{ firstName}} {{lastName }},</p>



<p>You have been added as an administrator for the GDCI Gym Time and  Exercising App</p>
<p>
   You have privileges to retrieve and review gym user data, delete users, add new administrators and add/delete gym equipment from the app.
</p>