<div class="backButton" (click)="onBackClick()">< Back</div>
<div class="signIn">
  <h1>How long are you going to be using the facility?</h1>
  <form name="message" [formGroup]="form">
    <div>
      <label class="textBoxLabel" for="hours"></label>
      <mat-form-field class="custom-width">
        <mat-label>Hours</mat-label>
        <input
          formControlName="hours"
          matInput
          id="hours"
          type="number"
          name="hours"
          placeholder="Hours"
          min="0"
        />
      </mat-form-field>
    </div>

    <br style="clear: both"/>

    <div>
      <label class="textBoxLabel" for="hours"></label>
      <mat-form-field class="custom-width">
        <mat-label>Minutes</mat-label>
        <input
          formControlName="minutes"
          matInput
          id="minutes"
          type="number"
          name="minutes"
          placeholder="minutes"
          min="0"
        />
      </mat-form-field>
    </div>
  </form>

  <button class="button" (click)="onSubmitTimeClick()">Log Time</button>
 
</div>
<button class="helpButton" [routerLink]="['/help']" fragment="logtime" >Need Help?</button>