<div class="signUp">
  <h2>Create an Admin Account</h2>
  <h4 class="usernamePassGroup">All Fields Are Required</h4>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-6">
        <mat-label>First Name</mat-label>
        <input
          matInput
          formControlName="firstName"
          id="firstName"
          type="text"
          name="firstName"
          placeholder="First Name"
        />
        <mat-error *ngIf="form.controls['firstName'].invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          formControlName="lastName"
          id="lastName"
          type="text"
          name="lastName"
          placeholder="Last Name"
        />
        <mat-error *ngIf="form.controls['lastName'].invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Organization</mat-label>
        <input
          matInput
          formControlName="organization"
          id="organization"
          type="text"
          name="organization"
          placeholder="Organization"
        />
        <mat-error *ngIf="form.controls['organization'].invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          id="email"
          type="text"
          name="email"
          placeholder="user@example.com"
        />
        <mat-error *ngIf="form.controls['email'].hasError('required')">{{
          getErrorMessage()
        }}</mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')"
          >Invalid email format</mat-error
        >
      </mat-form-field>
    </div>
    <div class="usernamePassGroup col-12">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          type="text"
          name="username"
          placeholder="Your username here"
        />
        <mat-error *ngIf="form.controls['username'].invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          id="password"
          type="password"
          name="password"
        />
        <mat-error *ngIf="form.controls['password'].invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          id="confirmPassword"
          type="password"
          name="confirmPassword"
        />
        <mat-error *ngIf="form.controls['password'].invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
  </form>

  <!--  {{ form.value | json}}-->
  <!--  Valid: {{ form.valid | json}}-->
  <!--  Touched: {{ form.touched | json}}-->

  <br />
  <div class="usernamePassGroup col-12">
    <button
      mat-raised-button
      color="primary"
      class="button"
      [disabled]="!form.valid"
      (click)="onCreateAccountClicked()"
    >
      Create Admin Account
    </button>
  </div>
  <br />
  <br />
</div>
<button [routerLink]="['/help']" fragment="manageadmins" class="helpButton">
  Need Help?
</button>
