<div class="backButton" (click)="onBackClick()">< Back</div>
<div class="signIn">
  <form name="message" [formGroup]="form">
    <div>
      <label class="textBoxLabel" for="username">Username</label>
      <input
        formControlName="username"
        class="textBox"
        id="username"
        type="text"
        value=""
        name="username"
      />
    </div>

    <br style="clear: both" />

    <label class="textBoxLabel" for="password">Password</label>
    <input
      formControlName="password"
      class="textBox"
      id="password"
      type="password"
      value=""
      name="password"
    />
  </form>

  <!-- will need (click) function to authenticate as admin-->
  <button mat-raised-button class="button" (click)="onLogInClick()" [disabled]="form.invalid">Log In As Admin</button>
  <button class="helpButton">Need Help?</button>
</div>
