input,
label {
  display: block;
}
h1 {
  color: #0c7e25;
}

.backButton {
  font-size: 2rem;
  color: #0c7e25;
  cursor: pointer;
  margin-top: 1rem;
}

.textBoxLabel {
  font-size: 2rem;
  margin-right: 26rem;
  margin-bottom: 5px;
}

.textBox {
  width: 35rem;
  height: 4rem;
  border-radius: 1rem;
  margin: auto;
}

.signIn {
  text-align: center;
  margin-top: 5rem;
}

.button {
  background-color: #0c7e25;
  color: white;
  border-radius: 1rem;
  width: 35rem;
  height: 4rem;
  font-size: 35px;
  margin-top: 2rem;
}

#username,
#password {
  font-size: 2rem;
}

.helpButton {
  text-align: center;
  margin-left: 15rem;
  margin-top: 12rem;
  margin-bottom: 1rem;
}
