:host {
  padding: 5px;
  background: #0c7e25;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom: black;
  border-width: 1rem;
}

.date {
  font-size: 50px;
  padding-left: 5rem;
  font-family: Lucida;
}

.header-title {
  font-size: 30px;
  padding-right: 2rem;
}

.btn-outline-dark {
  background-color: lightgray;
  color: black;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-width: 0.25rem;
  font-family: Lucida;
}

.logo {
  width: 30rem;
  
}
