<div class="backButton" (click)="onBackClick()">< Back</div>
<div class="signIn">
  <!-- will need (click) functions to authenticate user, change log in status on user list component to signed out, and open exercise log modal-->
  <div class="row">
    <div class="col-12">
      <button class="button mb-4" (click)="openModal('custom-modal-2')">
        Log Daily Exercises
      </button>
    </div>
    <div class="col-12 large-font">
      or
    </div>
    <div class="col-12 mt-4">
      <button class="button" (click)="justCheckOut()">
        Just Log me Out
      </button>
    </div>
  </div>
</div>


<jw-modal id="custom-modal-2">
  <div class="exerciseModal">
    <h1 class="modalHeader">EXERCISE LOGGING</h1>
    <form [formGroup]="form">
      <div class="row">
        <app-dropdown
          [parentForm]="form"
          controlName="equipmentName"
          [machines]="machines"
        ></app-dropdown>
        <div class="col">
          <label>Duration (min)</label>
          <app-slider
            [parentForm]="form"
            controlName="duration"
            [min]="0"
            [max]="60"
          ></app-slider>
        </div>
        <div class="col">
          <label>Weight (lbs)</label>
          <app-slider
            [parentForm]="form"
            controlName="weight"
            [min]="0"
            [max]="500"
          ></app-slider>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-5">
              <mat-form-field class="custom-width">
                <mat-label>Sets</mat-label>
                <input
                  formControlName="sets"
                  matInput
                  id="sets"
                  type="number"
                  value=""
                  name="sets"
                  placeholder="Sets"
                  min="0"
                />
              </mat-form-field>
            </div>
            <div class="offset-2"></div>
            <div class="col-5 of-tag">
              <mat-form-field class="custom-width">
                <mat-label>Reps</mat-label>
                <input
                  formControlName="reps"
                  matInput
                  id="reps"
                  type="number"
                  value=""
                  name="reps"
                  placeholder="Reps"
                  min="0"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col">
          <button
            mat-raised-button
            [disabled]="!form.valid"
            (click)="addExercise()"
          >
            Add
          </button>
        </div>
      </div>
    </form>

    <div></div>
    <div *ngIf="loggedExercises.length === 0">No exercises added yet.</div>
    <table class="logTable" *ngIf="loggedExercises.length !== 0">
      <tr>
        <th class="equip">Equipment</th>
        <th class="duration">Duration (Minutes)</th>
        <th class="weight">Weight (lbs)</th>
        <th class="sets">Sets</th>
        <th class="reps">Reps</th>
      </tr>
      <tr *ngFor="let log of loggedExercises">
        <td>{{ log.equipmentName }}</td>
        <td>{{ log.duration }}</td>
        <td>{{ log.weight ? log.weight : '--' }}</td>
        <td>{{ log.sets ? log.sets : '--' }}</td>
        <td>{{ log.reps ? log.reps : '--'}}</td>
      </tr>
    </table>

    <button
      class="logExerciseAndClose"
      (click)="logAndCloseModal('custom-modal-2')"
    >
      Log Exercises and Sign Out
    </button>
  </div>
  <div class="helpButtonModal">Need Help?</div>
</jw-modal>

<div class="helpButton">Need Help?</div>
