<div class="backButton" (click)="onBackClick()">< Back</div>

<button class="addButtons" (click)="onAddAdminClick()">
  Add/Delete Administator
</button>
<button class="addButtons" (click)="onAddEquipmentClick('custom-modal-3')">
  Add/Delete Equipment
</button>

<div class="signIn">
  <form name="message">
    <div>
      <label class="textBoxLabel" for="username">Username</label>
      <input
        class="textBox"
        id="username"
        type="text"
        value=""
        name="username"
      />
    </div>

    <jw-modal id="custom-modal-3">
      <mat-form-field class="custom-width">
        <mat-label>Equipment Name</mat-label>
        <input
          formControlName="addEquipment"
          matInput
          id="addEquipment"
          type="string"
          value=""
          name="addEquipment"
          placeholder="Equipment Name"
          min="0"
        />
      </mat-form-field>
      <div class="col">
        <button mat-raised-button (click)="addExercise()">Add</button>
      </div></jw-modal
    >

    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" />
        <input matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>

  <!-- opens lookup modal, displays logs for past <days> -->
  <button class="button" (click)="openModal('custom-modal-2')">
    Look Up User
  </button>
  <button class="button" (click)="onSignOutClick()">Sign Out</button>
  <jw-modal id="custom-modal-2">
    <h1 style="height: 100px">User Information</h1>
    <h3>
      <!-- populated by database data -->
      THIS WILL BE POPULATED BY DATABASE DATA FOR SPECIFIC USER
    </h3>
    <button
      class="logExerciseAndClose"
      (click)="acceptAndCloseModal('custom-modal-2')"
    >
      Close
    </button>
    <br />
    <button class="deleteButton" (click)="onDeleteClick()">Delete User</button>

    <div class="helpButtonModal">Need Help?</div>
  </jw-modal>
  <div class="helpButton">Need Help?</div>
</div>
