input,
label {
  display: block;
}
h1, .gdciGreen {
  color: #0c7e25;
}

.backButton {
  width: 110px;
  font-size: 2rem;
  color: #0c7e25;
  cursor: pointer;
  margin-top: 1rem;
}

.textBox {
  width: 35rem;
  height: 4rem;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.textBoxLabel {
  font-size: 2rem;
  margin-right: 26rem;
  margin-bottom: 5px;
  margin: auto;
}

.textBoxLabel2 {
  font-size: 1.5rem;

  margin: auto;
}

.textBox2 {
  border-radius: 1rem;
  margin: auto;
  width: 10rem;
  height: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 3rem;
}

.signIn {
  text-align: center;
}

.sign-out-button {
  margin-top: 5px;
  background-color: #0c7e25;
  color: white;
  border-radius: 1rem;
}

.button {
  background-color: #0c7e25;
  color: white;
  border-radius: 1rem;
  width: 35rem;
  height: 4rem;
  font-size: 35px;
  margin-top: 1rem;
}

.addButtons {
  margin-left: 27rem;
  font-size: 20px;
  font-size: 20px;
  background-color: #0c7e25;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

.deleteUser {
  margin-left: 30rem;
  font-size: 20px;
  font-size: 20px;
  background-color: #0c7e25;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}


.dates{
display: flex;
justify-content: space-between;
}

#username {
  font-size: 2rem;
}

.helpButton {
  text-align: center;
  
  margin-top: 2.5rem;
}
.helpButtonModal {
  text-align: center;
  
}

.logExerciseAndClose {
  background-color: #0c7e25;
  color: white;
  border-radius: 1rem;
  width: 35rem;
  height: 4rem;
  font-size: 35px;
  margin-top: 4rem;
  margin-left: 10rem;
}

.deleteButton{
  margin-left: 24rem;
  font-size: 20px;
  background-color: #0c7e25;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

.header {
  font-size: 1.5rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 1rem;
}

::ng-deep .mat-tab-body-content {
  overflow-x: hidden!important;
}
::ng-deep .mat-list-base {
  overflow: scroll!important;
  height: 420px!important;
}
