<div class="defaultDashboard">
  <h1>Liability and Tracking System</h1>
  <h2 style="color: #0c7e25"><i>Welcome employees and guests!</i></h2>
  <h2>To get started, select an option below:</h2>

  <div class="signInButtons">
    <button mat-raised-button class="button1" (click)="onSignInClick()">Sign In / Out</button>
  </div>

  <div class="separator">Or</div>

  <div class="signUp" (click)="onSignUpClick()">Don't have an account?</div>
  <div>
    <h3>
      <i>(Account holders have access to personalized exercise tracking!)</i>
    </h3>
  </div>
  <a [routerLink]="['/help']" fragment="dashboard" class="helpButton"
    >Need Help?</a
  >
</div>
