.defaulDashboard {
  display: block;
}

h1 {
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Lucida Sans";
  margin-top: 20px;
}

h3 {
  text-align: center;
}

.button1,
.button2 {
  background-color: #0c7e25;
  color: white;
  border-radius: 1rem;
  width: 40rem;
  height: 5rem;
  font-size: 35px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  font-size: 2rem;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.signInButtons {
  margin-top: 60px;
  text-align: center;
}

.signUp {
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}
