<div class="backButton" (click)="onBackClick()">< Back</div>
<div class="signIn">
  <h1>Please Sign Out</h1>
  <form name="message">
    <div>
      <label class="textBoxLabel" for="username">Username</label>
      <input
        class="textBox"
        id="username"
        type="text"
        value=""
        name="username"
      />
    </div>

    <br style="clear: both" />

    <label class="textBoxLabel" for="password">Password</label>
    <input
      class="textBox"
      id="password"
      type="password"
      value=""
      name="password"
    />
  </form>

  <!-- will need (click) functions to authenticate user, change log in status on user list component to signed out, and open exercise log modal-->
  <button class="button" (click)="openModal('custom-modal-2')">
    Log Exercise and/or Log Out
  </button>

  <jw-modal id="custom-modal-2">
    <div class="exerciseModal">
      <h1 style="height: 100px">EXERCISE LOGGING</h1>

      <img
        class="bike"
        src="../../../assets/images/download.jpeg"
        alt="bike."
      />
      <img
        class="equipment"
        src="../../../assets/images/treadmill.jpeg"
        alt="bike."
      />
      <img
        class="equipment"
        src="../../../assets/images/weights.jpeg"
        alt="weights"
      />
      <img
        class="equipment"
        src="../../../assets/images/rower.jpeg"
        alt="rower"
      />
      <img
        class="equipment"
        src="../../../assets/images/punchbag.jpeg"
        alt="punchbag."
      />
      <img
        class="equipment"
        src="../../../assets/images/jumprope.jpeg"
        alt="jumprope."
      />

      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="1"
        max="100000"
      ></mat-slider>

      <div class="weightAndRepetitions">
        <form>
          <input
            class="weightAndReps"
            id="weight"
            type="text"
            value=""
            name="weight"
            placeholder="Weight (lbs)"
          />
          <br style="clear: both" />
          <input
            class="weightAndReps"
            id="reps"
            type="text"
            value=""
            name="reps"
            placeholder="Repetitions"
          />
        </form>
        <form>
          <input
            class="weightAndReps"
            id="weight"
            type="text"
            value=""
            name="weight"
            placeholder="Weight (lbs)"
          />
          <br style="clear: both" />
          <input
            class="weightAndReps"
            id="reps"
            type="text"
            value=""
            name="reps"
            placeholder="Repititions"
          />
        </form>
      </div>

      <button
        class="logExerciseAndClose"
        (click)="logAndCloseModal('custom-modal-2')"
      >
        Log Exercises and Sign Out
      </button>
    </div>
    <div></div>
  </jw-modal>

  <div class="helpButton">Need Help?</div>
</div>
