<div class="document">
  <h1 id="welcome">Welcome Page</h1>

  <p>
    This is the welcome page that you will see when you first approach the
    tablet at the gym entrance.
  </p>

  <p></p>
  <p>
  Tap anywhere on the tablet screen to be brought to the main dashboard page of the app.
  </p>



  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Screenshot (115).png"
  />

  <h1 id="dashboard">Dashboard</h1>

  <p>
    When you tap anywhere on the welcome page, you will be directed to this
    page.
  </p>

  <p>Here, you have the options to:</p>
  <p>
    <b>Sign in/out (existing user or admin) </b>
  </p>
  <p><b>Create a user account. </b></p>
  <p><b>Go back to the cover (welcome) page. </b></p>

  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image005.png"
  />

  <h1 id="signup">Create an Account</h1>

  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Dont have an account button.png"
  />
  <p>To create an account, click on “Don’t have an account?”</p>
  <br />

  <p >
    After Selecting “Don’t have an account?”, you will be brought to this page
    to create one:
  </p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image008.png"
  />
  <p>To create an account, you will need to fill out these required fields:</p>
  <ul>
    First Name
    <br />Last Name
    <br />Organization
    <br />Email
    <br />Username
    <br />Password
    <br />Agree to liability waiver
  </ul>
  <p>You can select Liability Waiver to view the waiver.</p>
  <p>
    After selecting “Create Account”, your account will automatically be signed
    in, and your profile will read “checked out” on the left side of the
    dashboard. You will also receive a confirmation email.
  </p>
  <h1 id="signin">Sign In or Out</h1>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Sign in button.png"
  />
  <p >To sign in to the application, click the green “Sign In” button.</p>
  <br />
  <p >
    After selecting “Sign In”, you will be brought to a page to enter your
    credentials.
  </p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image010.png"
  />
  <br />
  <br />
  <p>After entering your credentials, click “Log In”.</p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Log in (existing user).png"
  />
  <br>
  <br>
  <br>
  <br>
  <h1 id="checkin">Check In our Out</h1>
  <p>If you are checked out, you will see a prompt that allows you the check in. If you are currently checked in, you will see a prompt that allows you to check out.</p>

  <br>
 <p>**FOR USERS**</p>

  <p>Press the button accordingly.</p>
<br>
<br>
  <p>**FOR ADMINS**</p>

  <p>You will be taken to a page to view the Admin dashboard. Click the button to enter the admin dashboard.</p>

  <br>
  <br>

  <h1 id="logtime">Logged In</h1>
  <p >When logged in, you will be asked how long you plan on using the gym, fill this section out accordingly. </p>
  <img
  class="pictures"
  src="../../../assets/images/helpDocument/image014.png"
/>

<h1 id='checkedInOrOut'> User List </h1>
<p>The User List displays all currently created accounts, their status (Checked in or Checked Out) and estimated end times for active users.</p>

<p>After entering your estimated time in the gym,
you will see your username “Checked In” on the right side of the dashboard with the estimated time you will be done using the gym.</p>
<img
class="pictures"
src="../../../assets/images/helpDocument/Images (with circles)/User Checked in.png"
/>
<p>After logging your exercise routine and logging out, you will see your username "Checked Out" on the right side of the dashboard. </p>
<img
class="pictures"
src="../../../assets/images/helpDocument/Images (with circles)/User checked out.png"
/>

<h1 id="logout"> Log Exercises or Just Log Me Out</h1>

<p>Here, you will be able to choose if you would like to log what you did in the gym, or you can skip straight to “just log me out”.</p>

<p>If you choose to not record your workout, you have the option to jump straight to “Just Log Me Out”.</p>

<img
class="pictures"
src="../../../assets/images/helpDocument/Images (with circles)/Just log me out button.png"
/>
<br>
<br>

<h1 id="logexercises">Log Exercises</h1>
<p>If you select “Log Daily Exercises”, this is the page you will see.</p>
<img
class="pictures"
src="../../../assets/images/helpDocument/Screenshot (117).png"
/>
<p>From here, you can:</p>
<p><b>Choose the equipment that you used </b></p>
<p><b>Duration you used it  </b></p>
<p><b>Weight you used  </b></p>
<p><b>Sets </b></p>
<p><b>Reps  </b></p>
<p> You can add multiple exercises by clicking the "Add" button</p>


<p>When you have logged your routine, clicking the "Log/Email Exercises and Sign Out" button will save your exercise routine,
  send you an email of your daily routine and check you out.</p>

<h1 id="admin">Admin Login</h1>
<p>Signing in as an admin is the same procedure as signing in as a user</p>
<img
class="pictures"
src="../../../assets/images/helpDocument/image010.png"
/>


<h1 id="manageusers">Manage Users</h1>

<p>The Manage Users tab allows admins to enter a username,
select a date range and view the exercise logs for that user during the given date range.</p>
<img
class="pictures"
src="../../../assets/images/helpDocument/Screenshot (110).png"
/>

<h1 id="manageadmins">Manage Admins</h1>

<p>The Manage Admins tab allows admins to create a new admin account.
  The process is the same as creating a new user, except this account will have administrative privileges.</p>

<img
class="pictures"
src="../../../assets/images/helpDocument/Screenshot (111).png"
/>

<h1 id="manageequipment">Manage Equipment </h1>

<p>The Manage Equipment tab allows admins to add new equipment to the app by typing in the name of the equipment and clicking the "Add" button.
  The list of created equipment will be listed and the red trashcan icons to the right allow you to delete the equipment.
  When new equipment is added or deleted, the list of available equipment in the dropdown menu of the "Exercise Logging"
  modal will reflect the list on this page.</p>

<img
class="pictures"
src="../../../assets/images/helpDocument/Screenshot (112).png"
/>

<h1 id="userlogs">User Logs</h1>

<p> When an admin looks up a user,
   the "Workout Data Logs" modal will pop up with a list of drop down menus of the logged exercise routines for the user and the given date range. The admin also has the authority to delete a user's account on this page. </p>

   <img
class="pictures"
src="../../../assets/images/helpDocument/Screenshot (113).png"
/>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="floatButton">
    <button mat-fab color="primary" matTooltip="Go Back To Previous Page" (click)="onBackClicked()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>

