<div class="document">
  <h1 id="welcome">Welcome Page</h1>

  <p>
    This is the welcome page that you will see when you first approach the
    tablet at the gym entrance.
  </p>

  <p>As you can see, there are 3 actions that you can take from this page:</p>
  <p>
    <b>Tap anywhere to continue (for employees/guests utilizing the gym)</b>
  </p>
  <p><b>Admin Access</b></p>
  <p><b>Need Help? </b></p>
  <p>Follow this guide to navigate through these actions.</p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image004.png"
  />

  <h1 id="dashboard">Tap to Continue: Employees/Guests Utilizing the Gym</h1>

  <p>
    When you tap anywhere on the welcome page, you will be directed to this
    page.
  </p>

  <p>Here, you have the options to:</p>
  <p>
    <b>Sign in/out (existing user) </b>
  </p>
  <p><b>Create an account. </b></p>
  <p><b>Go back to the welcome page. </b></p>

  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image005.png"
  />

  <h1>Create an Account</h1>

  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Dont have an account button.png"
  />
  <p>To create an account, click on “Don’t have an account?”</p>
  <br />
  <br />
  <br />
  <p id="signup">
    After Selecting “Don’t have an account?”, you will be brought to this page
    to create one:
  </p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image008.png"
  />
  <p>To create an account, you will need to fill out these required fields:</p>
  <ul>
    First Name
    <br />Last Name
    <br />Organization
    <br />Email
    <br />Username
    <br />Password
    <br />Agree to liability waiver
  </ul>
  <p>You can select Liability Waiver to view the waiver.</p>
  <p>
    After selecting “Create Account”, your account will automatically be signed
    in, as you can see your profile “checked in” on the left side of the
    dashboard.
  </p>
  <h1>Sign In or Out</h1>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Sign in button.png"
  />
  <p>To sign in to the application, click the green “Sign In” button.</p>
  <br />
  <p id="signin">
    After selecting “Sign In”, you will be brought to a page to enter your
    credentials.
  </p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image010.png"
  />
  <br />
  <br />
  <p>After entering your credentials, click “Log In”.</p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Log in (existing user).png"
  />
  <br>
  <br>
  <br>
  <br>
  <h1 id="checkin">Check In our Out</h1>
  <p >You will see a page saying “It looks like you are checked out, click the button to begin checking in!"</p>
  <p>OR</p>
  <p> You will see a page saying "It looks like you are checked in, click the button to begin checking out" if you are currently signed in</p>
  <br>
  <br>
  <p>Press the button accordingly.</p>

  <br>

  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 id="logtime">Logged In</h1>
  <p >When logged in, you will be asked how long you plan on using the gym, fill this section out accordingly. </p>
  <img
  class="pictures"
  src="../../../assets/images/helpDocument/image014.png"
/>

<h1 id='checkedInOrOut'> User List </h1>
<p>The User List displays all currently created accounts, their status (Checked in or Checked Out) and estimated end times for active users.</p>

<p>After entering your estimated time in the gym, you will see your username “Checked In” on the right side of the dashboard with the estimated time you will be done using the gym.</p>
<img
class="pictures"
src="../../../assets/images/helpDocument/Images (with circles)/User Checked in.png"
/>
<p>After logging your exercise routine and/or logging out, you will see your username "Checked Out" on the right side of the dashboard. </p>
<img
class="pictures"
src="../../../assets/images/helpDocument/Images (with circles)/User checked out.png"
/>

<h1 id="logout"> Log Exercises or Just Log Me Out</h1>

<p>Here, you will be able to choose if you would like to log what you did in the gym, or you can skip straight to “just log me out”.</p>

<p>If you choose to not record your workout, you have the option to jump straight to “Just Log Me Out”.</p>

<img
class="pictures"
src="../../../assets/images/helpDocument/Images (with circles)/Just log me out button.png"
/>
<br>
<br>

<h1 id="logexercises">Log Exercises</h1>
<p>If you select “Log Daily Exercises”, this is the page you will see.</p>
<img
class="pictures"
src="../../../assets/images/helpDocument/image025.png"
/>
<p>From here, you can:</p>
<p><b>Choose the equipment that you used </b></p>
<p><b>Duration you used it  </b></p>
<p><b>Weight you used  </b></p>
<p><b>Sets </b></p>
<p><b>Reps  </b></p>
<p> You can add multiple exercises by clicking the "Add" button</p>

<img
class="pictures"
src="../../../assets/images/helpDocument/Images (with circles)/adding an exercise.png"
/>
<p>When you have logged your routine, clicking the "Log/Email Exercises and Sign Out" button will save your exercise routine, send you an email of your daily routine and check you out.</p>

</div>

