<div class="document">
  <h1 id="welcome">Welcome Page</h1>

  <p>
    This is the welcome page that you will see when you first approach the
    tablet at the gym entrance.
  </p>

  <p>As you can see, there are 3 actions that you can take from this page:</p>
  <p>
    <b>Tap anywhere to continue (for employees/guests utilizing the gym)</b>
  </p>
  <p><b>Admin Access</b></p>
  <p><b>Need Help? </b></p>
  <p>Follow this guide to navigate through these actions.</p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image004.png"
  />

  <h1 id="dashboard">Tap to Continue: Employees/Guests Utilizing the Gym</h1>

  <p>
    When you tap anywhere on the welcome page, you will be directed to this
    page.
  </p>

  <p>Here, you have the options to:</p>
  <p>
    <b>Sign in/out (existing user) </b>
  </p>
  <p><b>Create an account. </b></p>
  <p><b>Go back to the welcome page. </b></p>

  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image005.png"
  />

  <h1>Create an Account</h1>

  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Dont have an account button.png"
  />
  <p>To create an account, click on “Don’t have an account?”</p>
  <br />
  <br />
  <br />
  <p id="signup">
    After Selecting “Don’t have an account?”, you will be brought to this page
    to create one:
  </p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image008.png"
  />
  <p>To create an account, you will need to fill out these required fields:</p>
  <ul>
    First Name
    <br />Last Name
    <br />Organization
    <br />Email
    <br />Username
    <br />Password
    <br />Agree to liability waiver
  </ul>
  <p>You can select Liability Waiver to view the waiver.</p>
  <p>
    After selecting “Create Account”, your account will automatically be signed
    in, as you can see your profile “checked in” on the left side of the
    dashboard.
  </p>
  <h1>Sign In (Existing User)</h1>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Sign in button.png"
  />
  <p>To sign in to the application, click the green “Sign In” button.</p>
  <br />
  <p id="signin">
    After selecting “Sign In”, you will be brought to a page to enter your
    credentials.
  </p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/image010.png"
  />
  <br />
  <br />
  <p>After entering your credentials, click “Log In”.</p>
  <img
    class="pictures"
    src="../../../assets/images/helpDocument/Images (with circles)/Log in (existing user).png"
  />
</div>
