.active {
  color: green;
}

.userListHeader {
  padding-top: 4rem;
  display: block;
  font-family: Lucida;
  margin-left: 40%;
}

h1 {
  text-decoration: underline;
}
.justify-content-between {
  font-size: 20px;
}

.inactive {
  color: lightgray;
}
