<div class="userList">
  <div class="staticHeader">
    <button mat-raised-button [routerLink]="['/help']" fragment="checkedInOrOut" class="helpButton ml-1">Need Help?</button>
    <div class="userListHeader">
      <h1>Users:</h1>
    </div>
  </div>
  <div class="user">
  <div *ngIf="(users | async).length === 0" class="no-users">
      No users found, click sign up to create a new user!
    </div>
    <div *ngFor="let user of users | async" class="usersInList">
      <span>{{ user.username }}</span>
      <span class="inactive" [classList]="getStatusClasses(user)">
        {{ getUserStatus(user) }}
      </span>

      <!-- endtime based on data in log time -->
      <span *ngIf="checkedLoggedIn(user)" class="endTime"
        >End Time: {{user.dailyTimeOut | date: 'h:mm a'}}</span
      >
    </div>
  </div>
</div>
