<div class="userList">
  <div class="staticHeader">
    <div class="helpButton">Need Help?</div>
    <div class="userListHeader">
      <h1>Users:</h1>
    </div>
  </div>
  <div class="user">
    <div *ngFor="let user of users | async" class="usersInList">
      <span>{{ user.username }}</span>
      <span class="inactive" [classList]="getStatusClasses(user)">
        {{ getUserStatus(user) }}
      </span>

      <!-- endtime based on data in log time -->
      <span *ngIf="checkedLoggedIn(user)" class="endTime"
        >End Time: 6:00pm</span
      >
    </div>
  </div>
</div>
