.active {
  color: green;
}

.userListHeader {
  display: block;
  font-family: Lucida;
  background-color: white;
  text-align: center;
}
h1 {
  text-decoration: underline;
}

.inactive {
  color: lightgray;
}
.staticHeader {
  position: sticky;
  top: 40px;
  background-color: white;
}

.usersInList {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 4px;
}

.helpButton {
  margin-top: 2.5rem;
  text-align: left;
  
}

.no-users {
  text-align: center;
}
