
.active {
  color: green;
}

.userListHeader {
  padding-top: 4rem;
  display: block;
  font-family: Lucida;
  margin-left: 40%;
}

h1 {
  text-decoration: underline;
}


.inactive {
  color: lightgray;
}

.usersInList{
display:flex;
justify-content: space-between;
font-size: 12px;
margin-bottom: 4px;
}