.active {
  color: green;
}

.userListHeader {
  padding-top: 4rem;
  display: block;
  font-family: Lucida;
  margin-left: 40%;
}

.justify-content-between {
  font-size: 40px;
  font-family: Lucida;
}
